@keyframes slideFromLeft{
	0%{
		opacity: 0;
		margin-left: -300px;
	}
	10%{
		opacity: 100;
	}
	100%{
		margin-left: 25%;
		opacity: 100;
	}
}

@keyframes slideFromRight{
	0%{
		opacity: 0;
		margin-right: -300px;
	}
	10%{
		opacity: 100;
	}
	100%{
		margin-right: 25%;
		opacity: 100;
	}
}

@keyframes skillFillCss{
	from{
		width: 0%;
	}

	to{
		width: 95%;
	}
}

@keyframes skillFillJavascript{
	from{
		width: 0%;
	}

	to{
		width: 60%;
	}
}

@keyframes skillFillPython{
	from{
		width: 0%;
	}

	to{
		width: 40%;
	}
}

*{
	border: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

html{
	font-size: 100%;
	height: 100%;
	width: 100%;
}

h1{
	font-size: 5rem;
}

button{
	cursor: pointer;
}

#burger{
	background-color: transparent;
	color: #6496e5;
	cursor: pointer;
	font-size: 36px;
	position: fixed;
	width: 5%;
	z-index: 100000000;
}

section#main{
	height: 100vh;
	z-index: 100;
}

.box{
	display: inline-block;
	height: 50%;
	margin-bottom: -4px;
	position: relative;
	width: 100%;
}

.color1{
	background-color: #6496e5;
	position: fixed;
	z-index: 200;
}

.color2{
	background-color: #080705;
	margin: 50vh 0 0 0;
	z-index: 300;
}

#dancer{
	height: 50vh;
	width: 100%;
	z-index: 100;
}

#firstName{
	color: #080705;
	margin: -72px 0 -20px 25%;
	opacity: 0;
	animation: slideFromLeft 1.5s ease-out 2s 1 forwards;

}

#lastName{
	color: #6496e5;
	float: right;
	margin: -23px 25% 0 0;
	opacity: 0;
	animation: slideFromRight 1.5s ease-out 2s 1 forwards;
}

ul{
	text-align: center;
	width: 100%
}

li{
	display: inline-block;
}
/*-----------------------------------About Section----------------------------------*/
section#about{
	background-color: #0F1927;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 800;
	transition: all .5s ease-out 0s;
}

section#about:hover{
	transition: all .5s ease-in 0s;
	border-top: 5px solid #E57A22;
	border-bottom: 5px solid #E57A22;
}

#textStuff{
	font-family: 'Open-Sans', sans-serif;
	margin: 0px 8% 0 20%;
	padding: 55px 0 85px 0;
}

section#about h1, h2{
	font-family: 'Open-Sans', sans-serif;
}

section#about h2{
	color: #A5A5A5;
	font-size: .95rem;
	font-weight: lighter;
	line-height: 24px;
	padding: 0px 0 0px 0;
}

.smallTitle{
	color: #F9F9F9;
	font-size: 1.3rem;
	padding: 25px 10% 20px 0;
}

/*-----------------------------------Projects Section ------------------------------*/

section#projects{
	background-color: #080705;
	height: 100%;
	padding: 0 0 80px 0;
	position: relative;
	width: 100%;
	z-index: 1000;
}

#projectsBar{
	background-color: #080705;
	height: 110px;

	position: relative;
	width: 100%;
	z-index: 1500;
}

.sectionTitle{
	color: #6496E5;
	font-size: 36px;
	margin: 0px auto;
	padding: 30px 0 0 0;
	text-align: center;
	width: 100%;
}

.tri{
	cursor: pointer;
	display: inline-flex;
	height: 200px;
	margin: 0px 10px;
	position: relative;
	transition: all .25s ease-out 0s;
	transform: scale(1);
	width: 30%;
	z-index: 5000;
}

.row{
	margin: 0 auto 30px auto;
	text-align: center;
	width: 100%;
}

.tri h1{
	font-family: 'Open-Sans', sans-serif;
	font-size: 24px;
	font-weight: lighter;
	margin: 80px auto 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
}

.tri:hover{
	transition: all .25s ease-in-out 0s;
	transform: scale(1.05);
}

#ed{
	background-color: #CE512B;
}

#gobibit{
	background-color: #268BCB;
	color: white;
}

#imdb{
	background-color: #DEB522;
}

#tetrad, #presentation{
	background-color: #24CAFF;
}

#zodiac{
	background-color: #E6315D;
}

.projectCard{
	background-color: #0F1927;
	border: 1px solid black;
	color: #F9F9F9;
	display: none;
	font-family: 'Open-Sans', sans-serif;
	height: 70vh;
	left: 20%;
	right: 20%;
	margin: 0 auto;
	max-width: 600px;
	min-width: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	top: 15%;
	width: 60%;
	z-index: 10000;
}

.projectCard img{
	height: auto;
	margin: 50px 0 0 10%;
	position: relative;
	text-align: center;
	width: 80%;
}

.projectCard h1{
	font-size: 1.2rem;
	font-weight: lighter;
	margin: 20px 20% 20px 20%;
	position: relative;
	width: 60%;
}

.projectCard h2{
	color: #F9F9F9;
	font-size: 1rem;
	margin: 20px 20% 0px 20%;
	position: relative;
	width: 60%;
}

.projectCard p{
	color: #A5A5A5;
	font-size: .95rem;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 22px;
	margin: 20px 20% 0 20%;
	position: relative;
	width: 60%;
}

.projectCard ul{
	color: #A5A5A5;
	display: block;
	margin: 20px 0 0 20%;
}

.projectCard li{
	padding: 2px 0 2px 0;
	text-align: left;
	width: 100%;
}

.projectCard button{
	background-color: #E57A22;
	border-radius: 2px;
	bottom: 0;
	font-size: 1.5rem;
	height: 75px;
	margin: 40px auto 40px 10%;
	position: relative;
	width: 80%;
}

.projectCard button:hover{
	background-color: #904d15;
}

/*--------------------------------------Skills Section-----------------------------------*/

section#skills{
	background-color: #0F1927;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	height: 100%;
	padding: 0 0 63px 0;
	position: relative;
	transition: all .5s ease-out 0s;
	z-index: 200;
}

section#skills:hover{
	transition: all .2s ease-in 0s;
	border-top: 5px solid #E57A22;
	border-bottom: 5px solid #E57A22;
}

#skillsContainer{
	margin: 50px auto;
	width: 60%;
}

.skillName{
	color: #0F1927;
	font-family: 'Montserrat', sans-serif;
	margin: 0px auto 12px auto;
	padding: 6px 0 0 0;
	text-align: center;
}

.skillBox{
	background-color: #031e4a;
	border-radius: 2px; 
	height: 40px;
	margin: 50px auto;
	max-width: 800px;
	width: 100%;
}

.skillFill{
	background-color: #E57A22;
	height: 100%;
	position: relative;
	transition: background-color .25s ease-out 0s;
	width: 0%;
}

.skillFill:hover{
	background-color: #904d15;
	color: white;
	transition: all .25s ease-in 0s;
}

#css{
	animation: skillFillCss 2s ease-in-out 1s 01 forwards;
}

#javascript{
	animation: skillFillJavascript 2s ease-in-out 1s 01 forwards;
}

#python{
	animation: skillFillPython 2s ease-in-out 1s 01 forwards;
}

/*------------------------------------Contact Section-------------------------------*/

section#contact{
	background-color: #080705;
	color: #F9F9F9;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	position: relative;
	z-index: 200;
}

#contactContainer{
	font-size: .95rem;
	font-weight: lighter;
	margin: 0px auto;
	padding: 40px 0;
	text-align: center;
	width: 100%;
}

#contactContainer h1, h2, h3{
	color: #C1C1C1;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3rem;
	font-weight: 100;
	letter-spacing: 1px;
	padding: 10px 0;
}

#links{
	margin: 0 0 200px 0;
	text-align: center;
	width: 100%;
}

#copy{
	bottom: 0;
	color: #4C4C4C;
	padding: 0px 0 8px 0;
	position: absolute;
	text-align: center;
	width: 100%;
}