<!DOCTYPE html>
<html>
<head>
	<title>Mike Carbone</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/pretty.css') }}">

	<!--Model Scripts-->
	<script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
	<script src="https://cdn.rawgit.com/tizzle/aframe-orbit-controls-component/v0.1.14/dist/aframe-orbit-controls-component.min.js"></script>
	<script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v3.13.1/dist/aframe-extras.min.js"></script>

	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
</head>
<body>
	<button id="burger">&#9776;</button>
	<section id="main">
		<div class="box color1">
			<div id="dancer">
				 <a-scene class="scene" embedded inspector keyboard-shortcuts screenshot vr-mode-ui="enabled: false;">

	       			<a-entity id="camera" camera position="0 0 5" rotation="0 0 0" orbit-controls="
	          				target: #target;
	            			enableDamping: true;
	            			enableZoom: false;
	            			dampingFactor: 0.125;
	            			rotateSpeed:0.25;
	            			rotateToSpeed: 0.04;
	            			rotateTo: 0.172 0.3 2.797;
	            			logPosition: false;">
	        		</a-entity>

	        		<a-entity id="target">
	          			<a-gltf-model position="0 -3 1" scale="3 3 3" rotation="0 0 0" id="mike" src="{{ static_url('mike_dancing/scene.gltf') }}" animation-mixer shadow="receive: true"></a-gltf-model>
	          			<a-light type="ambient" color="#fff" ></a-light>
					</a-entity>
	        		<a-sky color="#6496e5"></a-sky>
	        		
	        		<a-light></a-light>
	       		</a-scene>
			</div>
		</div>
		<div class="box color2">
			<h1 id="firstName">mike</h1>
			<h1 id="lastName">carbone</h1>
		</div>
	</section>
	<nav>
		<ul>
			<li>PROJECTS</li>
			<li>ABOUT</li>
			<li>CONTACT</li>
		</ul>
	</nav>

	<section id="about">
		<div id="textStuff">
			<h1>About me</h1>
			<h2>My name is Mike Carbone, an Interactive Digital Media sophomore at Drexel University. Using Javascript, CSS, and Python, I really like creating simple, efficient, and user-friendly applications that serve a direct purpose. My areas of interest include augmented reality, virtual reality, and immersive media. I'm also a pretty cool dude that likes Rocket League and PUBG.</h2>

			<h1>Contact me</h1>
			<h2>Philadelphia, PA</h2>
			<h2>(267) 362-9708</h2>
			<h2>mfcbone@gmail.com</h2>
		</div>
	</section>

	<section id="projects">
		<div id="projectsBar"><h1>projects</h1></div>
		<div class="row">
			<div class="tri" id="imdb">
					<h1 class="title">IMDb UI Redesign</h1>
			</div>
			<div class="tri" id="gobibit">
					<h1 class="title">goBibit</h1>
			</div>
			<div class="tri" id="ed">
					<h1 class="title">TickleEdSheeran</h1>
			</div>
		</div>
		<div class="row">
			<div class="tri" id="tetrad">
					<h1 class="title">WebVR Color</h1>
			</div>
			<div class="tri" id="zodiac">
					<h1 class="title">Zodiac Project</h1>
			</div>
			<div class="tri" id="presentation">
					<h1 class="title">WebVR Presentation</h1>
			</div>
		</div>
	</section>
</body>
</html>